<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset='utf-8'>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/prefixfree.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.1/css/material-design-iconic-font.min.css">

  <link rel='stylesheet prefetch' href='http://owlgraphic.com/owlcarousel/owl-carousel/owl.carousel.css'>
  <link rel='stylesheet prefetch' href='http://owlgraphic.com/owlcarousel/owl-carousel/owl.theme.css'>
  <link href="css/index.css" rel="stylesheet">

  <title>SpaceCam Surveillance | Koding.com hack.summit()</title>

</head>
<body ng-controller="controller">

  <!-- "It is in the doing of the work that we discover the work that we must do. Doing exposes reality." -->
  <!-- Loading -->
  <div id="loader-container">
    <span id="loader-percentage-line">
      <span id="loader-percentage"></span>
    </span>
  </div>
  <!-- Loader -->
  <div class="page-bg"></div>
  <div class="page-loader"></div>
  <!-- End Loader -->
  <!-- End Loading -->
  <!-- Start Wrapper -->
  <div class="wrapper">
    <header>
      <nav id="site-nav">
        <a href="#settings" class="nav-button settings active">
          <!-- SETTINGS -->
          <svg class="icon settings inset-shadow" viewBox="0 0 59 55">
            <g>
              <rect width="59px" height="55px" />
            </g>
          </svg>
        </a>
        <a href="#camera" class="nav-button camera">
          <!-- DIFF VIEW -->
          <svg class="icon shutter inset-shadow active" viewBox="0 0 90 90">
            <g>
              <rect width="90px" height="90px" />
            </g>
          </svg>
        </a>
        <a href="#manage" class="nav-button manage">
          <!-- SEARCH -->
          <svg class="icon diff-view inset-shadow" viewBox="0 0 59 55">
            <g>
              <rect width="59px" height="55px" />
            </g>
          </svg>
        </a>
      </nav>
      <div class="logo">SpaceCam Surveillance
        <br />
        <span>crafted on Koding.com</span>
      </div>
    </header>

  <!-- omitted for now...
  <ul id="timeline" class="timeline animating">
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip">first</div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
    <li class="commit">
      <div class="bridge"></div>
      <div class="tooltip"></div>
    </li>
  </ul>
-->
  <section class="owl-carousel">
    <article data-hash="manage">

      <div class="title">Settings</div>

      <div class="body line">

        <label for="mms-address">Type the number where you wish to receive images texted to:</label>
        <input id="address" placeholder="Cell Number" type="text" name="address" ng-model="address" />

        <div class="select-style">
          <select id="provider">
            <option value="?">Select cellular carrier.</option>
            <option value="0">AllTel</option>
            <option value="1">AT&amp;T</option>
            <option value="2">Nextel</option>
            <option value="3">T-Mobile</option>
            <option value="4">Verizon</option>
            <option value="5">Virgin</option>
            <option value="6">Sprint</option>
            <option value="7">Metro PCS</option>
          </select>

        </div>

        <div class="check-options line">
          <div class="left-column">
            <input type="checkbox" id="checkbox-autosave" ng-model="settings.autosave" class="ng-pristine ng-untouched ng-valid ng-empty switch">
            <label for="checkbox-autosave" class="switch-tab"></label>
          </div>
          <div class="right-column">Automatically takes snapshot when motion detected</div>
        </div>

        <div class="check-options line">
          <div class="left-column">   
            <input type="checkbox" id="checkbox-dropbox" ng-model="settings.snapshotActions.saveToDropbox" class="ng-pristine ng-untouched ng-valid ng-empty switch">
            <label for="checkbox-dropbox" class="switch-tab"></label>
          </div>
          <div class="right-column">Save to DropBox
            <br />
            <span ng-show="dropbox.isAuthenticated()" class="ng-binding ng-hide"> 
             (Signed in as , <a href="" ng-click="unlinkDropbox();">Sign out</a>)</span>
           </div>
         </div>    

         <div class="check-options line">
          <div class="left-column">      
            <input type="checkbox" id="checkbox-mms" ng-model="settings.snapshotActions.sendMms" class="ng-pristine ng-untouched ng-valid ng-not-empty switch">
            <label for="checkbox-mms" class="switch-tab"></label>
          </div>
          <div class="right-column">Send MMS</div>
        </div>
      </div>

      <button id="submit" ng-click="createAccount()">
        Submit
      </button>

    </article>
    <article data-hash="settings">
      <div ng-controller="controller" class="ng-scope">
        <div ng-show="getUserMediaSupported">
          <div>
            <p>Click on the video to take a snapshot</p>
          </div>
          <div>
            <input type="checkbox" id="use-shutter" />
            <label for="use-shutter">Hide Web Cam Feed / Show Shutter</label>

          </div>
          <div>
            <video id="cam" ng-click="snapshot();" autoplay="" src="blob:http%3A//localhost/9842aa93-f221-4d1e-a6db-6aac47591c8e"></video>
            <canvas id="buffer" width="640" height="480"></canvas>
          </div>

        </div>
        <div ng-hide="getUserMediaSupported" class="ng-hide">
          <p>Your browser does not support access to web cam</p>
        </div>
        <div ng-show="errorMessage" class="ng-binding ng-hide">

        </div>
      </article>
      <article data-hash="camera">Manage Images</article>
    </section>
  </div>

  <!-- SVG ASSETS -->

  <svg>
    <defs>
      <filter id='inset-shadow'>

        <!-- Shadow offset -->
        <feOffset dx='0' dy='-1' />

        <!-- Shadow blur -->
        <feGaussianBlur stdDeviation='1' result='offset-blur' />

        <!-- Invert drop shadow to make an inset shadow-->
        <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse' />

        <!-- Cut colour inside shadow -->
        <feFlood flood-color='black' flood-opacity='.65' result='color' />

        <feComposite operator='in' in='color' in2='inverse' result='shadow' />

        <!-- Placing shadow over element -->
        <feComposite operator='over' in='shadow' in2='SourceGraphic' />

      </filter>

      <filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="5" />
        <feOffset dx="0" dy="0" result="offsetblur" />
        <feFlood flood-color="rgba(255,255,255,.5)" />
        <feComposite in2="offsetblur" operator="in" />
        <feMerge>
          <feMergeNode/>
          <feMergeNode in="SourceGraphic" />
        </feMerge>

      </filter>
      <!-- DIFF VIEW SVG CLIP PATH -->
      <clipPath id="diff-view-path" clip-rule="evenodd">
        <path d="M17.19,7.349 C18.753,7.349 20.019,8.626 20.019,10.202 C20.019,11.777 18.752,13.056 17.19,13.056 C15.628,13.056 14.361,11.778 14.361,10.202 C14.361,8.625 15.627,7.349 17.19,7.349 L17.19,7.349 L17.19,7.349 Z"></path>
        <path d="M0.19,10.201 C0.19,10.201 6.833,20.152 17.19,20.152 C27.547,20.152 34.19,10.201 34.19,10.201 C34.19,10.201 27.414,0.249 17.19,0.249 C6.966,0.249 0.19,10.201 0.19,10.201 L0.19,10.201 Z M10.125,10.201 C10.125,6.269 13.288,3.082 17.19,3.082 C21.091,3.082 24.254,6.269 24.254,10.201 C24.254,14.132 21.091,17.32 17.19,17.32 C13.288,17.32 10.125,14.132 10.125,10.201 L10.125,10.201 Z"></path>
      </clipPath>
      <!-- SEARCH SVG CLIP PATH -->
      <clipPath id="search-path">
        <path d="M17.224,2.956 C13.264,-1 6.844,-1 2.884,2.956 C-1.074,6.913 -1.074,13.33 2.884,17.284 C6.299,20.7 11.542,21.159 15.461,18.685 L20.79,24.011 L23.953,20.85 L18.625,15.526 C21.103,11.61 20.64,6.37 17.224,2.956 L17.224,2.956 Z M15,15.062 C12.269,17.79 7.84,17.79 5.111,15.062 C2.378,12.334 2.378,7.908 5.111,5.181 C7.84,2.451 12.268,2.451 15,5.181 C17.73,7.908 17.73,12.333 15,15.062 L15,15.062 Z"></path>
      </clipPath>
      <!-- SETTINGS SVG CLIP PATH -->
      <clipPath id="settings-path">
        <path d="M24.84,14.521 L24.84,11.479 L21.094,10.572 C20.894,9.848 20.61,9.159 20.247,8.519 L22.253,5.232 L20.102,3.081 L16.815,5.087 C16.175,4.723 15.486,4.439 14.761,4.238 L13.855,0.494 L10.813,0.494 L9.907,4.238 C9.182,4.439 8.493,4.723 7.852,5.087 L4.566,3.081 L2.415,5.232 L4.421,8.519 C4.058,9.159 3.774,9.847 3.574,10.572 L-0.172,11.479 L-0.172,14.521 L3.574,15.428 C3.774,16.152 4.058,16.841 4.421,17.481 L2.415,20.768 L4.566,22.919 L7.852,20.913 C8.492,21.277 9.181,21.561 9.907,21.762 L10.813,25.506 L13.855,25.506 L14.761,21.762 C15.486,21.561 16.175,21.277 16.815,20.913 L20.101,22.919 L22.252,20.768 L20.246,17.481 C20.609,16.841 20.893,16.153 21.093,15.428 L24.84,14.521 L24.84,14.521 Z M12.333,18.006 C9.568,18.006 7.326,15.765 7.326,13.001 C7.326,10.237 9.568,7.995 12.333,7.995 C15.1,7.995 17.341,10.236 17.341,13.001 C17.341,15.765 15.1,18.006 12.333,18.006 L12.333,18.006 Z"></path>
      </clipPath>
      <!-- SHUTTER SVG CLIP PATH -->
      <clipPath id="shutter-path">
       <path d="M45.003,0.006 C20.148,0.006 0,20.15 0,45.004 C0,69.85 20.148,89.994 45.002,89.994 C69.853,89.994 90,69.85 90,45.004 C90,20.15 69.853,0.006 45.003,0.006 L45.003,0.006 Z M76.971,28.066 L45.003,28.074 L55.601,10.419 C64.868,13.262 72.506,19.674 76.971,28.066 L76.971,28.066 Z M45.636,8.781 C46.108,8.785 46.564,8.845 47.035,8.866 L30.23,36.85 L19.93,18.909 C26.597,12.504 35.663,8.6 45.636,8.781 L45.636,8.781 Z M8.78,44.367 C8.893,37.478 11.006,31.131 14.434,25.707 L30.613,53.876 L9.888,53.889 C9.115,50.844 8.715,47.653 8.78,44.367 L8.78,44.367 Z M13.079,62.039 L45.507,62.006 L35.219,79.827 C25.617,77.146 17.672,70.62 13.079,62.039 L13.079,62.039 Z M44.365,81.219 C44.188,81.219 44.018,81.198 43.841,81.195 L60.182,52.873 L70.777,70.367 C64.065,77.202 54.705,81.4 44.365,81.219 L44.365,81.219 Z M76.104,63.422 L59.602,36.217 L80.088,36.209 C80.846,39.23 81.277,42.371 81.226,45.633 C81.112,52.158 79.209,58.195 76.104,63.422 L76.104,63.422 Z"></path>
     </clipPath>
   </defs>
 </svg>
 <script src="http://owlgraphic.com/owlcarousel/owl-carousel/owl.carousel.js"></script>  
 <script src="js/canvas-to-blob.min.js"></script>
 <script src="js/master.js"></script>
</body>
</html>
<!-- layout inspired heavily by the work of alessioatzeni -->
